## Import packages

In [1]:
import pandas as pd
import os

## Import OSHA data
The imported data contains:
* Case Id 
* Title / summary of accident
* Description of accident
* Keywords/ tags of important words to be highlighted
* Victims' information

In [2]:
osha_filename = os.path.join(os.getcwd(), 'input_data', 'osha.xlsx')
df = pd.read_excel(osha_filename, names=['case_id', 'title', 'description', 'keywords', 'victims'])
df = df.set_index('case_id', drop=True)
df.head()

,title,description,keywords,victims
case_id,,,,
202561825,Employee Falls From Flatbed Trailer And Later...,On August 30 2013 Employee #1 was working f...,truck flatbed truck trailer fall abdomen,
200361855,Two Workers Are Struck By Motor Vehicle And O...,On August 27 2013 Employees #1 and #2 of T...,construction undrgrd power line highway ...,1 317290559 Fatality Other Occupation not re...
200361863,Employee Is Struck By Bales Of Wire And Killed,On August 26 2013 Employee #1 with Lee Iro...,waste proc fac industrial truck struck b...,
201079324,Employee Is Splashed With Hot Water And Is Bu...,On July 14 2013 Employee #1 vacuum pump tr...,truck driver pump tank hot water struc...,
202658258,Employee Suffers Burns While Moving Soup,On June 30 2013 Employee #1 was working in ...,burn spill arm chest abdomen,

In [3]:
df.describe()

,title,description,keywords,victims
count,16322,16322,16322,16322
unique,14709,15962,16257,4902
top,Electric Shock,InspectionOpen DateSICEstablishment Name,legionnaires disease infectious disease ...,
freq,558,356,5,11419

## Remove invalid data
* For those records with description = 'InspectionOpen DateSICEstablishment Name'

In [4]:
incomplete = df['description'].str.lower().str.contains('InspectionOpen DateSICEstablishment Name'.lower())
df = df[~incomplete]
df.head()

,title,description,keywords,victims
case_id,,,,
202561825,Employee Falls From Flatbed Trailer And Later...,On August 30 2013 Employee #1 was working f...,truck flatbed truck trailer fall abdomen,
200361855,Two Workers Are Struck By Motor Vehicle And O...,On August 27 2013 Employees #1 and #2 of T...,construction undrgrd power line highway ...,1 317290559 Fatality Other Occupation not re...
200361863,Employee Is Struck By Bales Of Wire And Killed,On August 26 2013 Employee #1 with Lee Iro...,waste proc fac industrial truck struck b...,
201079324,Employee Is Splashed With Hot Water And Is Bu...,On July 14 2013 Employee #1 vacuum pump tr...,truck driver pump tank hot water struc...,
202658258,Employee Suffers Burns While Moving Soup,On June 30 2013 Employee #1 was working in ...,burn spill arm chest abdomen,

In [5]:
df.describe()

,title,description,keywords,victims
count,15966,15966,15966,15966
unique,14396,15961,15902,4548
top,Electric Shock,An employee was delivering a load of small di...,legionnaires disease infectious disease ...,
freq,539,2,5,11419

## Export data to csv

In [6]:
export_file = os.path.join(os.getcwd(), 'output_data', '01_data_extraction_final.csv')
df.to_csv(export_file)
print('Exported to ' + export_file)

Exported to C:\Users\Woo\Desktop\Local - Text Mining Group Assignment\Source Code\output_data\01_data_extraction_final.csv